.main-menu {
  width: 260px;
  min-height: 100%;
  background-color: rgba(32, 33, 35, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  transition: all 0.1s ease;
  &-hidden {
    width: 0;
    padding: 0;
  }
  .popup-create {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000066;
    display: flex;
    z-index: 10;
    &-hidden {
      visibility: hidden;
    }
    .popup-wrapper {
      margin: auto;
      width: 500px;
      height: auto;
      background-color: #fff;
      border-radius: 8px;
      padding: 24px;
      max-height: 100%;
      overflow: auto;
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          font-weight: 700;
        }
        input {
          height: 44px;
          border: 1px solid #1877f2;
          border-radius: 8px;
          outline: none;
          font-size: 16px;
          padding: 8px;
        }
        textarea {
          border: 1px solid #1877f2;
          border-radius: 8px;
          outline: none;
          font-size: 16px;
          resize: vertical;
          padding: 8px;
        }
      }
      button {
        color: #333;
        justify-content: center;
        background-color: #c6c6da;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    outline: none !important;
    padding: 12px;
    color: #fff;
    width: 100%;
  }
  .button-add-knowlege {
    display: flex;
    flex-direction: column;
    button {
      border: 1px solid brown;
    }
  }
  .list-knowlege {
    flex: 1;
    color: #c6c6da;
    padding: 12px 0;
    overflow: auto;
    .knowlege-element {
      display: flex;
      margin: 8px 0 0;
      align-items: center;
      .knowledge-name {
        flex: 1;
        margin-left: 12px;
      }
      button {
        width: 50px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .tools {
    border-top: 1px solid brown;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
    .tool {
      width: 100%;
      button {
        padding: 10px;
      }
    }
  }
}
